<!doctype html>
<!DOCTYPE html>
<html>
<head>
	<title>Post</title>
</head>
<body>
<div class="container">
<p>Post meal</p>

<form>
<label for="price">Price</label>
<input type="number" name="price" placeholder="Your price"><br><br>
<label for="description">Description</label>
 <textarea id="description" name="description" placeholder="Write something.." style="height:200px; width: 100%;"></textarea>

</form>
   {% if error %}
 <p class="error"><strong>Error</strong>{{error}}</p>
 {% endif %}
	 
</div>

</body>
</html>














