<!doctype html>

<html>
<head>
	<title>Put </title>
	<link name="viewport" content="widith=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">
 <h2>Put or Update Meal</h2>
 <form>
 <label for="title">Title</label><br><br>
 <input type="text" name="title" placeholder="Update your meal."><br><br>

 <label for="description" >Description</label><br><br>
 <textarea id="description" name="description"
  placeholder="Update your meal here" style="height: 200px;
  width: 100%"></textarea>
 </form>
	
</div>

</body>
</html> 



 